<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ8F1F_8mW3bF1cYyx-kug1O7HsBZ3EHk&sensor=true">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/route.js"></script>

</head>
<body>
  <%= erb :_header %>
  <div class="container">
  <h1>Here's your route:</h1>
  <form name="input" id="points" action="/walks/create" method="post">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input type="hidden" id="latitude" name="latitude" value="<%= @latitude %>">
    <input type="hidden" id="longitude" name="longitude" value="<%= @longitude %>">
    <input type="hidden" id="waypoint_one" name="waypoint_one" value="<%= @waypoint_one %>">
    <input type="hidden" id="waypoint_two" name="waypoint_two" value="<%= @waypoint_two %>">
    <label for="starting_point">Starting from: </label>
    <input type="text" id="starting_point" name="starting_point" readonly>
    <label for="total_distance">Total distance: </label>
    <input type="text" id="total_distance" name="total_distance" readonly>
    <input type="submit" value="Save route">
  </form>

<!--   <a id="refreshRoute" href="/">Re-make route</a>
 -->
  <div id="map-canvas"></div>
</div>
</body>
</html>